.mozilla
Code
dconf
google-chrome
gtk-3.0
kde.org
nautilus
pulse
session
yay
user-dirs.dirs
user-dirs.locale
xsettingsd
assets
gtk-3.0
gtk-4.0
nwg-look
mimeapps.list
pavucontrol.ini
QtProject.conf
VirtualBox
libvirt
go
btop
